html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
}

body.vertical {
    width: 1080px;
    height: 1920px;
}


#root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
}